Lenguajes de marcas/3 - XML/XSD/Ejercicio 12/index.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cuadros">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="cuadro" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="titulo" use="required" />
            <xs:attribute name="autor" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>