0 - Primero/Lenguajes/0 - 2da Evaluación/3 - XML/XSD/Ejercicio 12/def.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="cuadros">

        <xs:complexType>

            <xs:sequence>
                <xs:element name="cuadro" maxOccurs="unbounded"> 

                    <xs:complexType>

                        <xs:attribute name="titulo" type="xs:string"></xs:attribute>
                        <xs:attribute name="autor" type="xs:string"></xs:attribute>
                    
                    </xs:complexType>

                </xs:element>

            </xs:sequence>

        </xs:complexType>
   
    </xs:element>

</xs:schema>